.customBrown {
  background-color: #F6EDE4;
  color: black;
}

.customPink {
background-color: #EBA0E3;
color: black;
}

.customGreen {
background-color: #92D4C9;
color: black;
}

.customOrange {
background-color: #E8A696;
color: black;
}

.customPurple {
background-color: #C5B3E6;
color: black;
}


